.container {
    width: clamp(400px, 55vw, 900px);
    height: clamp(350px, 10vw, 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
  }
  
  
  